<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="not-found content">
            OOPS, page not found :)
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>